.feature-box{
    text-align: center;
font-size: $default-font;
padding: 2rem;
background-color: $light-dark;
border-radius: 3px;
line-height: 1.4;
box-shadow: 0rem 1rem 2rem rgba(#000000, 0.2);
transition: transform 0.2s;
    &-icon{
        font-size:6rem;
        background-image: linear-gradient(to right, $Dark-green, $Light-green);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
    }
    &:hover{
        transform: translateY(-1.5rem) scale(1.05);
        box-shadow: 0rem 1.5rem 2.5rem rgba(#000000, 0.3);
    }

}