* {
  box-sizing: border-box;
}

body {
  font-family: "lato", sans-serif;
  margin: 0;
  padding: 3rem;
  color: $light-gray;
  @include respond(900px){
    padding: 0;
  }
}
html {
  font-size: 62.5%;


  @include respond(900px){
    font-size: 56.25%;
  }
  @include respond(600px){
    font-size: 50%;
  }
  @include respond(500px){
    font-size: 45%;
  }
  @include respond(400px){
    font-size: 40%;
  }
  @include respond(350px){
    font-size: 36%;
  }
  
}
