$Light-green: #7ed56f;
$Medium-green: #55c57a;
$Dark-green: #28b485;
$with: #fff;
$light-dark:#F7F7F7;
$light-gray:#666;
$light-dark2:#333;
$light-gray2:#eee;
$color-black:#000;
$color-secondary-light:#ffb900;
$color-secondary-dark:#ff7730;
$color-tertiary-light:#2998ff;
$color-tertiary-dark:#5643fa;
///space-variables
$gutter-main: 114rem;
$space:6rem;
$gutter-horizontal: 8rem;
$gutter-vertical: 6rem;

//FONT
$default-font:1.6rem;
$big-font-size:2.5rem;


//FONT_WEIGHT
$default-font-weight:800;
$mediom-font-weight:500;